doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/Cipher.js')
	body
		case title
			when 'ceaser'
				div(class="topnav") 
					a(class="active" href="/ceaser") Ceaser Cipher 
					a(href="/morse") Morse Code
					a(href="/messageroom") Message Room
					a(href="/login") Login
			when 'morse'
				div(class="topnav") 
					a(href="/ceaser") Ceaser Cipher 
					a(class="active" href="/morse") Morse Code
					a(href="/messageroom") Message Room
					a(href="/login") Login
			default
				div(class="topnav") 
					a(href="/ceaser") Ceaser Cipher 
					a(href="/morse") Morse Code
					a(href="/messageroom") Message Room
					a(href="/login") Login
			
		form(id="form1") Message:
			input(name='message', type='text', size='30')
		case title
			when 'ceaser'
				button(onClick="encrypt()") Encrypt!
			when 'morse'
				button(onClick="morse()") Encrypt!
		p(id="output")
		case title
			when 'ceaser'
				form(id="form2") Message:
					input(name="message2" type="text" size="30")
				button(onClick="decrypt()") Decrypt!
				p(id="output2")
			when 'morse'
				button(onclick="playSound()") Play Sound!
				button(onclick="dashWrite()") dash
				button(onclick="starWrite()") star
				button(onclick="space()") space
				p(id="morseOut")
				p(id="textOut")
	
