doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class="topnav") 
			a(class="active" href="/ceaser") Ceaser Cipher 
			a(href="/morse") Morse Code
		form(id="form1") Message:
			input(name='message', type='text', size='30')
	
