doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		
		div(class="topnav") 
			a(href="/ceaser") Ceaser Cipher 
			a(href="/morse") Morse Code
			a(class="active" href="/messageroom") Message Room
			
		
		form(method="POST" action="/messageroom") Message:
			input(name='message', type='text', size='30')
			input(type='submit')
			
		p(id="mroom")