doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		
		div(class="topnav") 
			a(href="/ceaser") Ceaser Cipher 
			a(href="/morse") Morse Code
			a(href="/messageroom") Message Room
			a(href="/login") Login
			a(class="active" href="/register") Register
			
		form(method="POST" action="/register") Username:
			input(name='username', type='text', size='30')
			input(name='password', type='text', size='30')
			input(type='submit')
		
		case title
			when 'registered'
				p Your account has been registered. Please log in
			default
				p Please input a username and password.